In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train-01,02 with title.csv')

In [3]:
df['label'] = df['label'].apply(lambda x: str(x).replace('0#', ''))

In [4]:
df['label'] = df['label'].apply(lambda x: str(x).replace('React Native разработчик#unknown', 'React Native разработчик'))

In [5]:
df.head()

     id                                               data               label
0  4509  Вы как что взяли 3000 рублей? Вас не смущает ч...                   0
1  4510  Ищу программиста 1С в г. Липецк\r\n#вакансия #...      1C-разработчик
2  4511  Business analyst в IQVIA\r\n\r\nteletype.in/@d...     Бизнес-аналитик
3  4512  • Middle Python разработчик в Центробит, Москв...  Python-разработчик
4  4513  Ruby Backend Developer (+Gо)\r\nв Staply — пер...    Ruby-разработчик

In [6]:
df = df.drop(columns=['id'])

In [15]:
df['label'].nunique()

56

In [8]:
df['label'].isnull().sum()

0

In [9]:
df_unknown = df[df['label'].isin(['unknown', 'Бухгалтер', 'Email-маркетолог', 'HR-специалист', 'nan'])]

In [14]:
df_unknown.to_excel('train_unknown.xlsx', index=False)

In [13]:
df_unknown.head()

                                                 data          label
5   Разработка Telegram ботов любой сложности!\r\n...        unknown
6   IT-рекрутер в STREAM (ПАО МТС): stream.ru\r\n\...  HR-специалист
7   Marketing Assistant в Nestle\r\n\r\nteletype.i...        unknown
11  • Software Engineer (iOS, Android, React Nativ...        unknown
14  Marketing Expert в Raiffeisen\r\n\r\nteletype....        unknown