## Data loading and preprocessing

In [22]:
import pandas as pd
from tqdm import tqdm
import random

In [2]:
df1 = pd.read_csv('without_unknown_train0102.csv')
df2 = pd.read_csv('unknown_labelled.csv')
df2 = df2.drop(columns=['id'])

In [3]:
df1.head()

                                                data               label
0  –í—ã –∫–∞–∫ —á—Ç–æ –≤–∑—è–ª–∏ 3000 —Ä—É–±–ª–µ–π? –í–∞—Å –Ω–µ —Å–º—É—â–∞–µ—Ç —á...                   0
1  –ò—â—É –ø—Ä–æ–≥—Ä–∞–º–º–∏—Å—Ç–∞ 1–° –≤ –≥. –õ–∏–ø–µ—Ü–∫\r\n#–≤–∞–∫–∞–Ω—Å–∏—è #...      1C-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫
2  Business analyst –≤ IQVIA\r\n\r\nteletype.in/@d...     –ë–∏–∑–Ω–µ—Å-–∞–Ω–∞–ª–∏—Ç–∏–∫
3  ‚Ä¢ Middle Python —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫ –≤ –¶–µ–Ω—Ç—Ä–æ–±–∏—Ç, –ú–æ—Å–∫–≤...  Python-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫
4  Ruby Backend Developer (+G–æ)\r\n–≤ Staply ‚Äî –ø–µ—Ä...    Ruby-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫

In [4]:
df2.head()

                                                data               label
0  Team Lead (C#, JavaScript)\n–≤¬†–¢–∞–Ω–¥–µ—Ä, –ú–∞–≥–Ω–∏—Ç¬†‚Äî...  –ù–µ—Å–∫–æ–ª—å–∫–æ –≤–∞–∫–∞–Ω—Å–∏–π
1  –†–∞–∑—Ä–∞–±–æ—Ç–∫–∞ Telegram –±–æ—Ç–æ–≤ –ª—é–±–æ–π —Å–ª–æ–∂–Ω–æ—Å—Ç–∏!\n\n...                   0
2  IT-—Ä–µ–∫—Ä—É—Ç–µ—Ä –≤ STREAM (–ü–ê–û –ú–¢–°): stream.ru\n\n–û...         IT-—Ä–µ–∫—Ä—É—Ç–µ—Ä
3  Marketing Assistant –≤ Nestle\n\nteletype.in/@d...              non-IT
4  ‚Ä¢ Software Engineer (iOS, Android, React Nativ...  –ù–µ—Å–∫–æ–ª—å–∫–æ –≤–∞–∫–∞–Ω—Å–∏–π

In [5]:
df = pd.concat([df1, df2])

In [6]:
df.sample(5)

,data,label
1138,–¢—ã –¥—É—Ä–∞–∫?),0
3108,#–≤–∞–∫–∞–Ω—Å–∏—è #qa #python #remote #—É–¥–∞–ª–µ–Ω–∫–∞ \r\n\r...,QA-–ò–Ω–∂–µ–Ω–µ—Ä
901,Full Stack JavaScript Developer\r\n–≤¬†–ö–æ–¥–∞–±—Ä—É¬†‚Äî...,Full Stack —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫
882,#–≤–∞–∫–∞–Ω—Å–∏—è #–ú–æ—Å–∫–≤–∞ #iOS #Swift #senior #middle ...,iOS-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫
2931,#gamedesigner #designer #remote #—É–¥–∞–ª–µ–Ω–Ω–æ #mid...,non-IT

In [7]:
df['vacancy'] = df['label'].apply(lambda x: 1 if x!='0' else 0)
df['vacancy'].value_counts()

1    2867
0    1119
Name: vacancy, dtype: int64

In [8]:
df['IT'] = df['label'].apply(lambda x: 'non-IT' if (x=='non-IT' or x=='0') else 'IT')
df['IT'].value_counts()

IT        2256
non-IT    1730
Name: IT, dtype: int64

In [9]:
df.sample(5)

,data,label,vacancy,IT
1918,16 –≥–æ–¥–∞ –Ω–∞ 16 –≥–∏–≥ –≤ –ú.–í–∏–¥–µ–æ\r\nAir üòÇ,0,0,non-IT
2055,#–ú–æ—Å–∫–≤–∞ #java #kotlin #backend #spring #middle...,Java-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,1,IT
170,#–≤–∞–∫–∞–Ω—Å–∏—è #—É–¥–∞–ª–µ–Ω–Ω–æ #remote #–æ—Ñ–∏—Å #–ú–°–ö #–†–æ—Å—Å–∏—è...,Java-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,1,IT
1907,"–ü—Ä–∏–≤–µ—Çüëã, @VictoriaRomanovna!\r\n–°–ø–∞—Å–∏–±–æ —á—Ç–æ –æ–ø...",0,0,non-IT
2261,"–ê–Ω–≥–ª–∏–π—Å–∫–∏–π —Å–≤–æ–±–æ–¥–Ω—ã–π –Ω—É–∂–µ–Ω, —Ç–∫ –±—É–¥—É—Ç –∫–æ–º–∞–Ω–¥–∏—Ä–æ...",0,0,non-IT

## 'Vacancy' filter (featuring spacy)

In [10]:
import spacy
from spacy.tokens import DocBin

In [13]:
df_vacancy = df[['data', 'vacancy']]
df_vacancy.sample(5)

                                                   data  vacancy
312   Product Analyst –≤ Gett\n\nteletype.in/@dreamjo...        1
2667  Sergey, [07.04.21 00:10]\r\n#–≤–∞–∫–∞–Ω—Å–∏—è #–º–æ—Å–∫–≤–∞ ...        1
1390  #–≤–∞–∫–∞–Ω—Å–∏—è #—É–¥–∞–ª—ë–Ω–Ω–æ #job #remote #parttime #–ø—Ä...        1
1977  #–∏—â—É —Ç–∞—Ä–≥–µ—Ç–æ–ª–æ–≥–∞ –¥–ª—è –ø—Ä–æ–¥–≤–∏–∂–µ–Ω–∏—è –ª–∏—á–Ω–æ–≥–æ –±–ª–æ–≥–∞...        0
1190  Product Manager\r\n–≤¬†iFarm¬†‚Äî —Ä–æ—Å—Å–∏–π—Å–∫–∏–π –∞–≥—Ä–æ—Ç–µ...        1

In [16]:
vac_train_data = []

for i in range(len(df_vacancy)):
    vac_train_data.append((df_vacancy.iloc[i, 0], df_vacancy.iloc[i, 1]))

In [17]:
def make_docs(data):
    docs = []
    for doc, label in nlp.pipe(data, as_tuples = True):
        if label == 0:
            doc.cats['non-vacancy'] = 1
        else:
            doc.cats['vacancy'] = 1
        docs.append(doc)
    return (docs)

In [26]:
nlp = spacy.load('ru_core_news_sm')

In [24]:
num_texts = int(np.round(len(df_vacancy)*0.8))
num_texts

3189

In [28]:
train_docs = make_docs(random.choices(vac_train_data, k=num_texts))
doc_bin = DocBin(docs=train_docs)
doc_bin.to_disk("./vacancy_classifier/train.spacy")

valid_docs = make_docs(random.choices(vac_train_data, k=num_texts))
doc_bin = DocBin(docs=valid_docs)
doc_bin.to_disk("./vacancy_classifier/valid.spacy")

In [38]:
!python -m spacy init fill-config ./vac_base_config.cfg ./vac_config.cfg

[+] Auto-filled config with all values
[+] Saved config
vac_config.cfg
You can now add your data and train your pipeline:
python -m spacy train vac_config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

2021-07-05 21:54:36.928505: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-07-05 21:54:36.928778: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [39]:
!python -m spacy train vac_config.cfg --output ./vac_output

[i] Using CPU

2021-07-05 21:54:39.933556: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-07-05 21:54:39.933770: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
[2021-07-05 21:54:41,953] [INFO] Set up nlp object from config
[2021-07-05 21:54:41,959] [INFO] Pipeline: ['tok2vec', 'textcat']
[2021-07-05 21:54:41,961] [INFO] Created vocabulary
[2021-07-05 21:54:41,961] [INFO] Finished initializing nlp object
[2021-07-05 21:54:50,660] [INFO] Initialized pipeline components: ['tok2vec', 'textcat']

=========================== Initializing pipeline ===========================
[+] Initialized pipeline

============================= Training pipeline =============================
[i] Pipeline: ['tok2vec', 'textcat']
[i] Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS TEXTCAT  CATS_SCORE  SCORE
---  ------  ------------  ------------  ----------  ------
  0       0          0.00          0.25       41.95    0.42
  0     200          0.00         12.50       85.61    0.86
  0     400          0.00          6.59       91.96    0.92
  0     600          0.00          5.56       93.16    0.93
  0     800          0.00          4.40       94.01    0.94
  0    1000          0.00          2.10       94.65    0.95
  0    1200          0.00          2.98       94.66    0.95
  0    1400          0.00          2.42       95.32    0.95
  0    1600          0.00          4.34       95.38    0.95
  1    1800          0.00          1.11       95.79    0.96
  1    2000          0.00          0.39       95.79    0.96
  1    2200          0.00          1.33       96.19    0.96
  1    2400          0.00          0.25       96.61    0.97
  1    2600          0.00          1.11       96.65    0.97
  2    2800          0.00          0.04       96.82    0.97
  2    3000          0.00          0.05       96.83    0.97
  3    3200          0.00          0.04       96.75    0.97
  3    3400          0.00          0.04       96.87    0.97
  4    3600          0.00          0.03       96.67    0.97
  4    3800          0.00          0.01       96.70    0.97
  5    4000          0.00          0.06       96.86    0.97
  5    4200          0.00          0.04       96.82    0.97
  6    4400          0.00          0.02       96.74    0.97
  6    4600          0.00          0.05       96.74    0.97
  6    4800          0.00          0.01       96.79    0.97
  7    5000          0.00          0.13       96.66    0.97
[+] Saved pipeline to output directory
vac_output\model-last

## 'IT' filter (featuring spacy)

In [52]:
df_it = df[['data', 'IT']]
df_it.sample(5)

                                                   data      IT
2614  üíö Usetech –ø—Ä–∏–≥–ª–∞—à–∞–µ—Ç –≤ —Å–≤–æ—é –∫–æ–º–∞–Ω–¥—É Team Lead ...      IT
795   CMO / Head of ASO\r\n–≤ ASOdesk ‚Äî –ø–ª–∞—Ç—Ñ–æ—Ä–º–∞ –¥–ª—è...  non-IT
3113  –ö–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –¥–∏—Ä–µ–∫—Ç–æ—Ä\r\n–≤ –ú–∞–ª–∞—Ö–∏—Ç ‚Äî –∫–æ–º–ø–∞–Ω–∏—è ...  non-IT
3137  Product Manager\r\n–≤¬†–†–µ–∫–ª–∞–π–Ω‚Äî –ø–æ—Å—Ç–∞–≤—â–∏–∫ —É—Å–ª—É–≥ ...      IT
1023  Andrey Galaktionov, [07.04.21 17:16]\r\n–ü—Ä–æ–≥—Ä–∞...      IT

In [53]:
df_it['IT'] = df['IT'].apply(lambda x: 1 if 'IT' else 0)

<ipython-input-53-ae244801e245>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_it['IT'] = df['IT'].apply(lambda x: 1 if 'IT' else 0)

In [54]:
it_train_data = []

for i in tqdm(range(len(df_it))):
    it_train_data.append((df_it.iloc[i, 0], df_it.iloc[i, 1]))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 3986/3986 [00:00<00:00, 28782.22it/s]

In [55]:
def make_it_docs(data):
    docs = []
    for doc, label in nlp.pipe(data, as_tuples = True):
        if label == 0:
            doc.cats['non-IT'] = 1
        else:
            doc.cats['IT'] = 1
        docs.append(doc)
    return (docs)

In [56]:
nlp = spacy.load('ru_core_news_sm')

In [57]:
num_texts = int(np.round(len(df_it)*0.8))
num_texts

3189

In [58]:
train_docs = make_docs(random.choices(vac_train_data, k=num_texts))
doc_bin = DocBin(docs=train_docs)
doc_bin.to_disk("./it_classifier/train.spacy")

valid_docs = make_docs(random.choices(vac_train_data, k=num_texts))
doc_bin = DocBin(docs=valid_docs)
doc_bin.to_disk("./it_classifier/valid.spacy")

In [59]:
!python -m spacy init fill-config ./it_base_config.cfg ./it_config.cfg

[+] Auto-filled config with all values
[+] Saved config
it_config.cfg
You can now add your data and train your pipeline:
python -m spacy train it_config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

2021-07-05 22:17:41.185362: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-07-05 22:17:41.185607: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [60]:
!python -m spacy train it_config.cfg --output ./it_output

[+] Created output directory: it_output

2021-07-05 22:17:44.252139: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-07-05 22:17:44.252334: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
[2021-07-05 22:17:46,358] [INFO] Set up nlp object from config
[2021-07-05 22:17:46,364] [INFO] Pipeline: ['tok2vec', 'textcat']
[2021-07-05 22:17:46,366] [INFO] Created vocabulary
[2021-07-05 22:17:46,366] [INFO] Finished initializing nlp object
[2021-07-05 22:17:55,220] [INFO] Initialized pipeline components: ['tok2vec', 'textcat']

[i] Using CPU

=========================== Initializing pipeline ===========================
[+] Initialized pipeline

============================= Training pipeline =============================
[i] Pipeline: ['tok2vec', 'textcat']
[i] Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS TEXTCAT  CATS_SCORE  SCORE
---  ------  ------------  ------------  ----------  ------
  0       0          0.00          0.25       46.20    0.46
  0     200          0.00          8.85       47.99    0.48
  0     400          0.00          9.48       61.11    0.61
  0     600          0.00          6.39       67.87    0.68
  0     800          0.00          4.84       66.61    0.67
  0    1000          0.00          5.95       64.43    0.64
  0    1200          0.00          7.11       68.92    0.69
  0    1400          0.00          3.12       68.60    0.69
  0    1600          0.00          6.19       68.99    0.69
  1    1800          0.00          2.85       69.25    0.69
  1    2000          0.00          3.09       69.69    0.70
  1    2200          0.00          1.91       66.22    0.66
  1    2400          0.00          0.82       66.62    0.67
  2    2600          0.00          0.43       67.20    0.67
  2    2800          0.00          0.27       67.88    0.68
  2    3000          0.00          0.21       66.22    0.66
  3    3200          0.00          0.23       67.16    0.67
  3    3400          0.00          0.20       68.49    0.68
  4    3600          0.00          0.18       69.89    0.70
  4    3800          0.00          0.21       69.30    0.69
  5    4000          0.00          0.17       69.18    0.69
  5    4200          0.00          0.29       68.90    0.69
  6    4400          0.00          0.27       69.91    0.70
  6    4600          0.00          0.17       66.88    0.67
  7    4800          0.00          0.23       67.85    0.68
  7    5000          0.00          0.13       69.20    0.69
  8    5200          0.00          0.29       68.69    0.69
  8    5400          0.00          0.22       67.95    0.68
  8    5600          0.00          0.18       68.76    0.69
  9    5800          0.00          0.21       68.95    0.69
  9    6000          0.00          0.24       68.26    0.68
[+] Saved pipeline to output directory
it_output\model-last

#### Data labelling for IT filtering

In [61]:
df_it = df[df['vacancy']!=0]

In [63]:
df_it.sample(5)

,data,label,vacancy,IT
535,#–≤–∞–∫–∞–Ω—Å–∏—è #–ú–æ—Å–∫–≤–∞ #—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫ #fullstack\r\n–ü...,Full Stack —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,1,IT
326,#–≤–∞–∫–∞–Ω—Å–∏—è \n\n–ö–æ–º–ø–∞–Ω–∏—è: Smartbrain\n\n–í–∏–ª–∫–∞ 30...,unknown,1,IT
139,#–≤–∞–∫–∞–Ω—Å–∏—è #–ú–æ—Å–∫–≤–∞ #scala #spark #SCALA #Spring...,Java-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,1,IT
2997,#–≤–∞–∫–∞–Ω—Å–∏—è #–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥\r\n\r\n–ì—Ä—É–ø–ø–∞ –∫–æ–º–ø–∞...,PHP-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,1,IT
1927,Senior Python Developer/Team Lead\r\n–≤¬†–ì–¥–µ–ú–∞—Ç–µ...,Python-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫,1,IT

In [64]:
df_it = df_it[['data', 'IT']]

In [67]:
from IPython.display import clear_output

In [ ]:
### 1 if IT, 0 if not

for i in range(len(df_it)):
    print(i, 'out of', len(df_it))
    df_it.iloc[i, 1] = input(df_it.iloc[i, 0]+'\n')
    clear_output()

312 out of 2867